{% extends "base.html" %}
{% load static %}
{% block head %}    
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <title>home</title>
 {% endblock %}

 
{% block content %}

<main>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <span id="title-text">Link CV
                <svg id="svg-share" xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-share-fill" viewBox="0 0 16 16">
                    <path d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z"/>
                  </svg>

            </span>
            <p id="title-description">Place to host your resume at afforable cost.Generate Reliable, Secure links in just two clicks. Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis repellendus rem libero nemo, facere ad dignissimos consequuntur a perferendis cupiditate dolores molestiae illo autem numquam dicta id itaque sed minima!.</p>
            
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <img src="{% static 'images/titleimage.jpg' %}" id="title-image"  alt="">

        </div>
        <div class="col-sm-6">
            {% if   request.user.resume %}          
            <a onclick="message('link copied')" data-url="{{request.build_absolute_uri}}resume/{{request.user.username}}/{{request.user.resume.resumeid}}" id="link-container" class="custom-anchor ">Share link</a>
            <a href="{% url 'preview' user.username user.resume.resumeid  %}" class="custom-anchor">Preview</a>       
            {% else %}
            <a onclick="message('Upload resume to get link.')"  id="link-container" class="custom-anchor" >Share link</a>
            <a onclick="message('Upload resume to view preview.')"  class="custom-anchor" >Preview</a>       
            {% endif %}
        </div>
    </div>
</div>






</main>

<script src="{% static 'js/home.js' %}"></script>

{% endblock %}

