body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-container {
  width: 50%;
  max-width: 500px;
  padding: 40px;
  margin: 50px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px grey;
}
