body{
    display:flex;
    align-items:center;
    justify-content: center;
}

.box{
    height:100vh;
    width:50%;
    display: flex;
    flex-direction:column;
    align-items: center;
    box-sizing: border-box;
    border:20px solid var(--primary) ;
}
.display-container{
    padding:1rem;
    justify-content: flex-start;
    overflow-y: scroll;
}
.video-wrap-container{
    user-select:none;
    color: var(--primary);
    padding: 0px;
    border-radius: 0.4rem;
    width: 90%;
    font-size:16px;
    margin:0.8rem;
    box-shadow: 1px 1px 4px 1px grey;
}
.icon{
    margin-right:1rem ;
    border-radius: 0.4rem 0rem 0rem 0.4rem;
    text-align: center;
    background-color: var(--primary) ;
    padding:0.7rem;
    width:3rem;
    color: white ;
}

.input-container {
    padding-left: 10%;
    justify-content: center;

}
.input-container form{
    display:flex;
    justify-content: space-evenly;
    align-items:flex-start;
    flex-direction:column;
    min-height: 12rem;
}



.delete-icon{
    margin:0.7rem;
    float:right;
    color: var(--primary);
}

#video-title  { 
    background-color: transparent !important;
    border: 4px solid var(--primary);
    border-radius:0.4rem !important;
    min-width:15rem; 
    height: 5rem;
    resize: none;
    padding:1rem;

}
::-webkit-file-upload-button, button{
    
    background-color: var(--primary) ;
    border-radius:0.4rem !important;
    min-width:15rem; 
    height: 3rem;
    color:var(--third);    

}

::-webkit-input-placeholder{
    text-align: center;
}


